<div class="container">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <% if @customer.errors.any? %>
      <div id="error_explanation" class="alert alert-danger" role="alert">
        <h3><%= pluralize(@customer.errors.count, "error") %> prohibited during authentication:</h3>

        <ul>
          <% @customer.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form_tag(auth_path, method: 'post', id: 'auth-form') do %>
      <div class="field form-group<%= " has-error" if @customer.errors[:email].any? %>">
        <%= label_tag :email %>
        <br>
        <%= text_field_tag :email, '', class: "form-control" %>
      </div>
      <div class="field form-group<%= " has-error" if @customer.errors[:password].any? %>">
        <%= label_tag :password %>
        <br>
        <%= text_field_tag :password, '', class: "form-control", type: "password" %>
      </div>
      <div class="actions">
        <%= submit_tag "Sign in", class: "btn btn-default" %>
      </div>
    <% end %>
    <br>
    <p>Don't have an account? <%= render_register_link %></p>
  </div>
  <div class="col-md-3"></div>
</div>