<div class="container">
  <h3 id="book-title">
    <%= @book.title %>
    <small id="author-name">by <%= @book.author.name %></small>
  </h3>
</div>

<div class="container">
  <div class="col-md-4">
    <img src="<%= image_path('big_book.jpg') %>" width="250" height="250" alt="...">
  </div>
  <div class="col-md-8">
    <div class="container">
      <form class="form-inline" role="form">
        <label><h4 id="book-price">$<%= @book.price %></h4></label>
        <input type="text" id="books_amount" class="form-control" placeholder="1">
        <button type="submit" class="btn btn-default">ADD TO CART</button>
      </form>
    </div>
    <div class="container">&nbsp</div>

    <p id="book-description"><%= @book.description %></p>
  </div>
</div>

<div class="container">
  <h3>Reviews &nbsp&nbsp
    <small><a class="add-review" href="#">Add review for this book</a></small>
  </h3>
</div>

<% @book.ratings.each do |rating| %>
  <div class="container">
    <div class="col-md-2">
      <%= render_rating_stars(rating.rating_number) %>
    </div>
    <div class="col-md-3">
      <p class="rating-title"><%= rating.title %></p>
    </div>
    <div class="col-md-7">
      <var class="rating-date"><%= rating.created_at.strftime("%b %d, %Y") %></var>
    </div>
  </div>

  <div class="container">
    <p class="rating-author">by <%= rating.customer.name %></p>

    <p class="rating-review"><%= rating.review %></p>
  </div>

  <div class="container">&nbsp</div>
<% end %>